<h1>Customers_Shows (NON FUNCTIONAL)</h1>
<p>For viewing customers_shows information.</p>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Table</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Placeholder</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <table class="table table-sm table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">customer_id</th>
          <th scope="col">show_id</th>
          <th scope="col">last_watched</th>
          <th scope="col">rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2</th>
          <th scope="row">1</th>
          <td>2020-7-20</td>
          <td>FALSE</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <th scope="row">1</th>
          <td>2020-6-29</td>
          <td>TRUE</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <th scope="row">3</th>
          <td>2020-6-15</td>
          <td>FALSE</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>

</div>