<h1>NEATFLIX Database Management Tool</h1>
<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">Customers</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/customers" class="stretched-link"></a>
        </div>
        <div class="card">
            <div class="card-body">Payment Information</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/payment_information" class="stretched-link"></a>
        </div>
        <div class="card">
            <div class="card-body">Movies</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/movies" class="stretched-link"></a>
        </div>
        <div class="card">
            <div class="card-body">Shows</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/shows" class="stretched-link"></a>
        </div>
        <div class="card">
            <div class="card-body">Customers_Movies</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/customers_movies" class="stretched-link"></a>
        </div>
        <div class="card">
            <div class="card-body">Customers_Shows</div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <div class="card-body"></div>
            <a href="/customers_shows" class="stretched-link"></a>
        </div>
    </div>
</div>